@{
	ViewData["Title"] = "Check Email";
	Layout = "_AuthenticationLayout";

}

<div class="main-agileinfo">
	<div class="agileits-top">
		<div class="body">
			<div>
				Password reset link has been sent to your email. Please check your inbox :
				<a href="https://mail.google.com/mail/u/0/">Click here</a>
			</div>
		</div>
	</div>
</div>