@model ForgetPasswordViewModel

@{
	Layout = "_AuthenticationLayout";

}
<div class="main-agileinfo">

	<div class="row">
		<div class="col-md-3">
			<form asp-action="ForgetPassword">
				<div asp-validation-summary="All" class="text-danger"></div>

				<div class="form-group">
					<input class="text email" type="email" asp-for="Email" placeholder="Email">
				</div>

				<div class="form-group mt-5">
					<input type="submit" class="btn btn-primary" value="FORGET PASSWORD">
				</div>
				
			</form>
		</div>
		<div class="col-md-4">
			<img src="https://img.freepik.com/free-vector/forgot-password-concept-illustration_114360-1123.jpg?w=740&t=st=1710800843~exp=1710801443~hmac=8d1f57022051f9d39d6a27619781eaa4880f46dcbcdcc449074bb228d96b5549" alt="Reset Password" />
		</div>
	</div>

</div>