

<div style="width: 500px;height: 300px; position: relative; left: 50%;top: 40px; transform: translateX(-50%);margin-bottom: 100px  ">
    <div>
        <img style="width:200px;height:200px;    position: relative;left: 50%;transform: translate(-50%);" src="https://assets-global.website-files.com/60e4948b205f74054cbc1480/6102d0c6a8aecbb913e4f65e_Success%20Check.svg" alt="">
    </div>
    <div>
        <p>Congratulations! Your payment for the selected courses has been successfully processed. You now have access to the course content. Happy learning!</p>
    </div>

    <a class="btn btn-primary" asp-action="Index" asp-controller="Home" style="position: relative;transform: translateX(-50%);
    left: 50%;
    margin-top: 20px;">
        Back To Home
    </a>
</div>