

<div style="width: 500px;height: 300px; position: relative; left: 50%;top: 40px; transform: translateX(-50%);margin-bottom: 100px  ">
    <div>
        <img style="width:200px;height:200px;    position: relative;left: 50%;transform: translate(-50%);margin-bottom: 30px;" src="https://cdn0.iconfinder.com/data/icons/shift-free/32/Error-1024.png" alt="">
    </div>
    <div>
        <p>We're sorry, but we encountered an issue processing your payment. Please check your payment details and try again. If the problem persists, feel free to contact our support team for assistance. </p>
    </div>

    <a class="btn btn-primary" asp-action="Index" asp-controller="Home" style="    position: relative;transform: translateX(-50%);
    left: 50%;
    margin-top: 20px;">
        Back To Home
    </a>
</div>