@model IEnumerable<ELearning.Data.Entities.StudentExam>

@{
    Layout = "_InstructorLayout";
}

@if (!Model.Any())
{
    <div class="text-center mt-4">
        <h3 class="text-muted">No one submitted the exam</h3>
        <img src="/img/NoData.png" style="max-width: 40%; height: auto;" />
    </div>
}
else
{
    <div class="table-responsive mt-4">
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Student Name</th>
                    <th>Submission Date</th>
                    <th>Grade</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.User.DisplayName</td>
                        <td>@Html.DisplayFor(modelItem => item.SubmittedAt)</td>
                        <td>@Html.DisplayFor(modelItem => item.Grade)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
