@model E_Learning.Models.QuestionViewModel

@{
    Layout = "_InstructorLayout";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateQuestion">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="Id" type="hidden" />
                <input asp-for="ExamId" type="hidden" />

           
            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <input asp-for="Text" class="form-control" />
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Choice1" class="control-label"></label>
                <input asp-for="Choice1" class="form-control" />
                <span asp-validation-for="Choice1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Choice2" class="control-label"></label>
                <input asp-for="Choice2" class="form-control" />
                <span asp-validation-for="Choice2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Choice3" class="control-label"></label>
                <input asp-for="Choice3" class="form-control" />
                <span asp-validation-for="Choice3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Choice4" class="control-label"></label>
                <input asp-for="Choice4" class="form-control" />
                <span asp-validation-for="Choice4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnswerChoice" class="control-label"></label>
                <select class="form-select" asp-for="AnswerChoice" data-placeholder="Select Choice">
                    <option value="1">Choice 1</option>
                    <option value="2">Choice 2</option>
                    <option value="3">Choice 3</option>
                    <option value="4">Choice 4</option>
                </select>
                <span asp-validation-for="AnswerChoice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
