@model List<ApplicationUser>


<div class="container">
    <div class="row">
        @foreach (var instructor in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img class="card-img-top" src="~/assets/Images/User/@instructor.ImagePath" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">@instructor.UserName</h4>
                        <p class="card-text"></p>
                        <a asp-action="Details" asp-controller="Instructor" asp-route-Id="@instructor.Id" class="btn btn-primary">See Profile</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>